language name is Alchemist or Ether.
language is for an incremental compiler dynamic environment.

an image contains the environment.
an environment can be exported, compiled, saved, or loaded as an image.

a program exists as a defined collection of operations in the environment.
the environment can have multiple programs.
an object contains a program.
programs can be compiled, saved, or loaded using objects.

language is used to create programs in the environment.
language has reader, evaluator, compiler, printer.
language has macros.
language has macro characters.
language is represented by binary tree.
language has macro character classes that affect how syntax tree is constructed.

set macro characters are:
-function call
-create object
-assignment
-macro call


multiparadigm:
object oriented
procedural 
functional

each paradigm has its own syntax notation:
procedures are blocks of statements.
functions are nested expressions.
objects are groups of methods acting on an object

unassigned identifiers are enumerated types.
